.site-layout-content {
    height: 580px;
    padding: 60px;
    background: #fff;
}

.logo {
    float: left;
    width: 200px;
    height: 64px;
    line-height: 64px;
}

.title {
    font-size: 20px;
    color: #ccc;
    margin-left: 5px;
}

.login-title,.register-title {
    position: relative;
    top: 0;
    left: 135%;
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #b70b0b;
}